.nav{
  display :inline-block;
}





.container{
  border-color: black;
   box-sizing: border-box;
   box-shadow: blue;
   padding left: 400px;
    border: 150px solid orange;
    height:100%;
    width: 100%:
    background-color:lightred;
    text-indent: 35px;
}
h1{
  font-size:75px;
  font-family: Comic Sans MS;
  align-items: center;
  font-weight: 39px;

}

}
p1{
  font-size: 24px;
  font-family: verdana;
  color: black;
}
p{
  font-size: 20px;
  font-family: verdana;
  color: black;
}
h{
  font-size: 27px;
  font-style: oblique;
  font-weight: 25px;
  color: violet;
  align-items: center;
}
h2{
  font-size: 28px;
  font-style: oblique;
  font-weight: 28px;
  color: black;
}
h2{
  font-size: 28px;
  font-style: oblique;
  font-weight: 28px;
  color: green;
}
li{
  font-size: 25px;
  color: black;
}
marquee{
  font-size: 30px;
  font-family: cursive;
  color:indigo;
  width:50%;
}
img{
  float: left;
  width: 100%;
  height: 25%;
  padding: 0px;
  border: 0px;
  margin: 0px;S

pre{
  display: right;
  background-color: lightorange;
}
